<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated workshop -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="workshop.presentation.WorkshopModelWizardID"
            name="%_UI_WorkshopModelWizard_label"
            class="workshop.presentation.WorkshopModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WorkshopModelFile.gif">
         <description>%_UI_WorkshopModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated workshop -->
      <editor
            id="workshop.presentation.WorkshopEditorID"
            name="%_UI_WorkshopEditor_label"
            icon="icons/full/obj16/WorkshopModelFile.gif"
            extensions="workshop"
            class="workshop.presentation.WorkshopEditor"
            contributorClass="workshop.presentation.WorkshopActionBarContributor">
      </editor>
   </extension>

</plugin>
